body {
  overflow-x: hidden;
}

.on-load.header__naming h2,
.on-load.header__naming p {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.header__naming {
  overflow: hidden;
}

.header__naming h2,
.header__naming p {
  -webkit-transform: translateX(-130%);
  -ms-transform: translateX(-130%);
  transform: translateX(-130%);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header__naming h2:nth-child(1) {
  -webkit-transition-delay: 0.78s;
  transition-delay: 0.78s;
}

.header__naming h2:nth-child(2) {
  -webkit-transition-delay: 0.86s;
  transition-delay: 0.86s;
}

.header__naming p {
  -webkit-transition-delay: 0.94s;
  transition-delay: 0.94s;
}

.head__arrow--left,
.head__arrow--right {
  cursor: pointer;
}

.head__arrow--left {
  margin-right: 70px;
}

.dropdown-search,
.dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
  background: #f8f7f7;
  box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-bottom: 75px;
  transform: translateY(-100%);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 9;
}

.dropdown-search {
  padding: 120px 0;
}

.dropdown-search__input button {
  background: url(../img/search-ico.png) no-repeat 50% 50%;
  cursor: pointer;
}

.dropdown-search__input {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 90% 10%;
}

.dropdown-search__input button,
.dropdown-search__input input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #000;
  padding: 10px 0;
  margin-bottom: 20px;
}

.dropdown-search__input input,
.dropdown-search__results {
  padding-left: 40px;
  font-size: 24px;
  font-weight: 300;
  font-family: monlight;
}

.dropdown-search__results {
  justify-content: start;
  display: grid;
}

.dropdown-search__result:hover {
  color: #000;
}

.dropdown-search__result {
  font-size: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  color: #777;
}

.dropdown-search__input,
.dropdown-search__results {
  width: 820px;
  margin: 0 auto;
}

.show-header-dropdown {
  transform: translateY(0);
}

.dropdown-menu__close,
.dropdown-search__close {
  position: absolute;
  top: 19px;
  right: 30px;
  font-size: 36px;
  cursor: pointer;
}

.dropdown-menu__city {
  margin: 0 50px;
}

.dropdown-menu__header {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  font-size: 12px;
  font-family: monreg;
}

.dropdown-menu__phone a {
  color: #000;
}

.dropdown-menu__logo img {
  width: 150px;
}

.dropdown-menu__categories,
.dropdown-menu__links {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  grid-gap: 30px;
  width: 920px;
  margin: 0 auto;
  padding: 0;
}

.dropdown-menu__categories li,
.dropdown-menu__links li {
  width: 190px;
}

.dropdown-menu__links li a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-family: monlight;
  letter-spacing: 0.7px;
  text-transform: none;
}

.dropdown-menu__links {
  margin-top: 50px;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.dropdown-menu__categories li a:hover {
  color: #696969;
}

.dropdown-menu__categories li a {
  letter-spacing: 0.7px;
  text-align: left;
  color: #000;
  font-family: monsemibold;
  font-size: 14px;
  font-weight: 600;
}

.head,
.head__count,
.head__chairimg {
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.head__chairimg {
  cursor: pointer;
}

@keyframes zoomBg {
  0% {
    background-size: 105%;
  }

  100% {
    background-size: 100%;
  }
}

.head {
  /* animation: zoomBg 10s; */
  transition: background 0.5s cubic-bezier(0.4, 0, 1, 1);
  background-size: cover;
}

.partners__circle {
  position: relative;
  width: 1200px;
  margin: 50px auto;
  overflow: hidden;
  display: block;
}

.partners__control {
  position: absolute;
  top: calc(50% - 10px);
  width: 100%;
  z-index: 2;
}

.partners-ctrl-left,
.partners-ctrl-right {
  cursor: pointer;
}

.partners-ctrl-right {
  float: right;
}

.partners__circle .circle__flex {
  grid-column-start: 2;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  transition: all 0.87s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.circle__flex a {
  text-align: center;
  width: 170px;
  margin: 0 15px;
  z-index: 3;
}

.pointer__key>img {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pointer__key:hover>img {
  opacity: 1;
}

.pointer-tip {
  display: none;
  position: absolute;
  z-index: 3;
  bottom: 60px;
  left: 55px;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}

.tip-show {
  display: block;
  opacity: 1;
  animation: tip-show 1s;
}

@keyframes tip-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pointer-tip__close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
}

.pointer-tip .catalog__group__box {
  width: 310px;
  height: 445px;
  background-color: #fff;
  font-family: monlight;
  padding: 40px 35px;
  box-sizing: border-box;
}

.pointer-tip .catalog__group__box img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.pointer-tip .catalog__group__box .box__naming {
  margin: 0;
  padding: 0;
  font-size: 24px;
  margin-bottom: 15px;
}

.pointer-tip .catalog__group__box .box__availability {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.pointer-tip .catalog__group__box .box__price {
  position: absolute;
  bottom: 100px;
  left: 35px;
  font-size: 16px;
}

.pointer-tip .catalog__group__box a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: monsemibold;
  font-size: 12px;
  color: #fff;
  background-color: #000;
  padding: 15px 80px;
  position: absolute;
  left: 35px;
  bottom: 30px;
}

.thx {
  font-family: monlight;
  font-size: 14px;
  color: #7d7d7d;
}

.footer__submit {
  cursor: pointer;
}

.header__element4 {
  position: relative;
}

.header-cart {
  cursor: pointer;
}

.cart-dropdown {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 0px 3px 40px 0 rgba(0, 0, 0, 0.1);
  font-family: monlight;
  top: 37px;
  left: -200px;
  z-index: 9;
  opacity: 0;
  transform: translateY(10%);
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart-show {
  display: block;
  opacity: 1;
  transform: translateY(0);
  animation: tip-show 1s;
}

.hide {
  display: none;
}

.cart-items {
  margin: 30px 0;
}

.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.cart-control__quanity>* {
  border: 1px solid #000;
}

.cart-control__quanity {
  width: 80px;
  height: 20px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 20px 40px 20px;
  text-align: center;
}

.control__quanity {
  width: 40px;
  border-left: none;
  border-right: none;
  text-align: center;
}

.cart-items-count {
  background: #fe3000;
  font-size: 10px;
  color: #0a0a0a;
  font-family: monlight;
  position: absolute;
  top: 10px;
  left: 9px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-weight: 600;
  border: 1px solid #000;
}

.control__plus,
.control__minus {
  cursor: pointer;
}

.cart-control {
  display: grid;
  width: 200px;
  grid-auto-flow: column;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 15px;
  margin: 10px 15px;
  grid-template-rows: auto auto;
}

.cart-img img {
  width: 65px;
}

.cart-total {
  padding: 0 30px;
  margin: 30px 0;
}

.cart-checkout {
  background-color: #0a0a0a;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  padding: 15px 35px;
  display: block;
  text-transform: uppercase;
  margin-top: 30px;
}

.cart-control__title {
  grid-column: 1/3;
  font-size: 12px;
  margin-bottom: 10px;
}

.cart-control__price {
  font-size: 14px;
}

.cart-control__remove:hover {
  color: #000;
}

.cart-control__remove {
  font-size: 36px;
  color: #666;
  cursor: pointer;
}

.cart-total__price {
  float: right;
}

.move-to-cart {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: moveCart 1s;
  z-index: 9;
}

.team .partners__circle {
  padding-bottom: 0;
}

.team {
  padding-bottom: 150px;
}

@keyframes moveCart {
  0% {
    transform: scale(0.8) translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: scale(0.6) translate3d(1200px, -1500px, 0) rotate3d(1, 1, 1, 45deg);
  }
}

@media screen and (max-width: 1280px) {

  .dropdown-search,
  .dropdown-menu {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 800px) {

  .dropdown-menu__categories,
  .dropdown-menu__links {
    width: 100%;
  }

  .partners__circle {
    width: 90%;
  }
}

@media screen and (max-width: 620px) {

  .dropdown-menu__categories,
  .dropdown-menu__links {
    justify-content: center;
    grid-auto-flow: row;
  }

  .dropdown-menu__header {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .dropdown-menu__header>* {
    margin-bottom: 10px;
    text-align: center;
  }
}

.news .news__flex .news__element p a {
  font-family: monlight;
  font-size: 18px;
  color: #686767;
  margin: 30px 0;
  line-height: 26px;
}

.choose-tab a {
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
}

.choose .choose__characteristic {
  display: none;
}

.show {
  display: grid !important;
}

.hide {
  display: none;
}

.m-w {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  background: #fff;
  padding: 15px;
  font-size: 16px;
  font-family: monlight;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: tip-show 1s;
}

@media (max-width: 767px) and (min-width: 320px) {
  .filters-side-menu {
    position: absolute;
    z-index: 4;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    margin-top: 70px;
  }
}

.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color1,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color2,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color3,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color4,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color5,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color6,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color7,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color8,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color9,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color10 {
  margin-right: 8px;
}

a,
.header__button,
.head__arrow--right,
.head__arrow--left,
.catalogue__relax__href,
.catalogue__dinner__href,
.horeca__href,
.swing__href,
.umbrella__href,
.accessories__href,
.ready__href,
.header-menu-btn,
.search-btn,
.catalog .catalog__group .catalog__group__box a {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.arrow_back_with_line span:hover,
.catalog__header .arrow_back_with_line span:hover,
.footer .footer__flex ul li a:hover,
a:hover {
  color: #696969;
}

.catalog .page__counter a:hover {
  color: #000;
}

.catalog .catalog__group .catalog__group__box a:hover,
.header__button:hover {
  background: #696969;
  color: #fff;
}

.head__arrow--right:hover,
.head__arrow--left:hover,
.header-menu-btn:hover,
.search-btn:hover {
  opacity: 0.5;
}

.catalogue__relax__href:hover,
.catalogue__dinner__href:hover,
.horeca__href:hover,
.swing__href:hover,
.umbrella__href:hover,
.accessories__href:hover,
.ready__href:hover {
  padding-left: 10px;
}

.anim-left-start,
.anim-right-start {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.anim-left-start {
  transform: translateX(-102%);
}

.anim-right-start {
  transform: translateX(102%);
}

.anim-end {
  transform: translateX(0);
}

.container {
  /* overflow-x: hidden; */
}

.arrow-catalog {
  display: inline-block;
  font-family: monbold;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  margin-left: 300px;
  height: 80px;
  line-height: 80px;
  padding-right: 45px;
  text-transform: uppercase;
  background: no-repeat 100% 50% linear-gradient(to left, #fff 100px, transparent 50%);
  background-size: 100px;
}

.arrow-catalog:hover {
  background: no-repeat calc(100% - 50px) 50% linear-gradient(to left, #fff 100px, transparent 50%);
  background-size: 50px;
  padding-right: 0;
  color: #fff;
}

.catalog .catalog__group .catalog__group__box {
  transition: all .1s ease-in;
}

.catalog .catalog__group .catalog__group__box:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
  border-radius: 3px;
}

.cart-icon-circle {
  stroke: #fff;
}

.cart-icon {
  width: 22px;
  height: 22px;
  fill: #fff;
}

.black .cart-icon-circle,
.black .logo-color-stroke {
  stroke: #000;
}

.black .header__element1,
.black .header__contacts {
  color: #000;
}

.black .cart-icon,
.black .region-arrow,
.black .logo-color,
.black .search-btn {
  fill: #000;
}

.header__element1 {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.region-arrow {
  margin-left: 5px;
  fill: #fff;
  width: 10px;
  height: 10px;
}

.search-btn {
  width: 18px;
  height: 18px;
}

.header-logo {
  width: 160px;
  height: 40px;
}

.logo-color-stroke {
  stroke: #fff;
}

.logo-color,
.search-btn {
  fill: #fff;
}

.header-menu-btn {
  background: url(../img/menu_white.png) no-repeat 50% 50%;
  width: 19px;
  height: 19px;
}

.black .header-menu-btn {
  background: url(../img/menu_black.png) no-repeat 50% 50%;
}

.region-select-dropdown {
  position: absolute;
  top: 20px;
  left: 0;
  padding: 10px 20px;
  margin: 0;
  background: #f8f7f7;
  box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.1);
  z-index: 9;
}

.region-select-dropdown li:hover {
  color: #696969;
}

.region-select-dropdown li:last-child {
  margin: 0;
}

.region-select-dropdown li {
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px;
}

@keyframes smoothShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.smoothShow {
  animation: smoothShow 2s ease;
}

.mobile-footer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 10;
}

.mobile-footer li {
  width: 50px;
  cursor: pointer;
}

.mobile-footer ul {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  height: 50px;
  padding: 12px;
  margin: 0;
  background: #f8f7f7;
  box-sizing: content-box;
}

.input-range__value div {
  position: absolute;
  text-align: center;
  width: 24px;
}

.input-range__value {
  position: absolute;
  width: 100%;
}

.input-range {
  position: relative;
}

.input-range input {
  width: 50% !important;
}

@media (max-width: 767px) and (min-width: 320px) {
  .header__element1 {
    display: none;
  }

  .arrow-catalog {
    margin-left: 20px;
  }

  .mobile-footer {
    display: block;
  }
}