body {
  overflow-x: hidden;
}
/* .header {
  position: relative;
  z-index: 2;
}
.header:before {
  content: "";
  background: #000;
  position: absolute;
  width: 120%;
  height: 100%;
  left: -10%;
  top: -50%;
  filter: blur(50px);
  z-index: -1;
} */
.on-load.header__naming h2,
.on-load.header__naming p {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.header__naming {
  overflow: hidden;
}

.header__naming h2,
.header__naming p {
  -webkit-transform: translateX(-130%);
  -ms-transform: translateX(-130%);
  transform: translateX(-130%);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header__naming h2:nth-child(1) {
  -webkit-transition-delay: 0.78s;
  transition-delay: 0.78s;
}

.header__naming h2:nth-child(2) {
  -webkit-transition-delay: 0.86s;
  transition-delay: 0.86s;
}

.header__naming p {
  -webkit-transition-delay: 0.94s;
  transition-delay: 0.94s;
}

.head__arrow--left,
.head__arrow--right {
  cursor: pointer;
}

.head__arrow--left {
  margin-right: 70px;
}

.dropdown-search,
.dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
  background: #f8f7f7;
  box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-bottom: 75px;
  transform: translateY(-100%);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 9;
}

.dropdown-search {
  padding: 120px 0;
}

.dropdown-search__input button {
  background: url(../img/search-ico.png) no-repeat 50% 50%;
  cursor: pointer;
}

.dropdown-search__input {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 90% 10%;
}

.dropdown-search__input button,
.dropdown-search__input input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #000;
  padding: 10px 0;
  margin-bottom: 20px;
}

.dropdown-search__input input,
.dropdown-search__results {
  padding-left: 40px;
  font-size: 24px;
  font-weight: 300;
  font-family: monlight;
}

.dropdown-search__results {
  justify-content: start;
  display: grid;
}

.dropdown-search__result:hover {
  color: #000;
}

.dropdown-search__result {
  font-size: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  color: #777;
}

.dropdown-search__input,
.dropdown-search__results {
  width: 820px;
  margin: 0 auto;
}

.show-header-dropdown {
  transform: translateY(0);
}

.dropdown-menu__close,
.dropdown-search__close {
  position: absolute;
  top: 19px;
  right: 30px;
  font-size: 36px;
  cursor: pointer;
}

.dropdown-menu__city {
  margin: 0 50px;
  position: relative;
}

.dropdown-menu__header {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  font-size: 12px;
  font-family: monreg;
}

.dropdown-menu__phone a {
  color: #000;
}

.dropdown-menu__logo img {
  width: 150px;
}

.dropdown-menu__categories,
.dropdown-menu__links {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  grid-gap: 30px;
  width: 920px;
  margin: 0 auto;
  padding: 0;
}

.dropdown-menu__categories li,
.dropdown-menu__links li {
  width: 190px;
}

.dropdown-menu__links li a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-family: monlight;
  letter-spacing: 0.7px;
  text-transform: none;
}

.dropdown-menu__links {
  margin-top: 50px;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.dropdown-menu__categories li a:hover {
  color: #696969;
}

.dropdown-menu__categories li a {
  letter-spacing: 0.7px;
  text-align: left;
  color: #000;
  font-family: monsemibold;
  font-size: 14px;
  font-weight: 600;
}

.head,
.head__count,
.head__chairimg {
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.head__chairimg {
  cursor: pointer;
}

@keyframes zoomBg {
  0% {
    background-size: 105%;
  }

  100% {
    background-size: 100%;
  }
}

.head {
  /* animation: zoomBg 10s; */
  transition: background 0.5s cubic-bezier(0.4, 0, 1, 1);
  background-size: cover;
}

.partners__circle {
  position: relative;
  width: 1200px;
  margin: 50px auto;
  overflow: hidden;
  display: block;
}

.partners__control {
  position: absolute;
  top: calc(50% - 10px);
  width: 94%;
  z-index: 2;
  left: 3%;
}

.partners-ctrl-left,
.partners-ctrl-right {
  cursor: pointer;
}

.partners-ctrl-right {
  float: right;
}

.partners__circle .circle__flex {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  grid-column-start: 2;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  transition: all 0.87s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.circle__flex a {
  text-align: center;
  width: 170px;
  margin: 0 15px;
  z-index: 3;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pointer__key > img {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pointer__key:hover > img {
  opacity: 1;
}

.tip-show {
  display: block;
  opacity: 1;
  animation: tip-show 1s;
}

@keyframes tip-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pointer-tip .catalog__group__box a:hover {
  color: #000;
  background: #fff;
  box-shadow: 1px 1px 10px #ccc;
}

.pointer-tip {
  position: absolute;
  z-index: 3;
  bottom: 60px;
  left: 55px;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pointer-tip__close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
}

.pointer-tip .catalog__group__box {
  width: 266px;
  height: 335px;
  background-color: #fff;
  font-family: monlight;
  padding: 20px;
  box-sizing: border-box;
}

.pointer-tip .catalog__group__box img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.pointer-tip .catalog__group__box .box__naming {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin: 5px 0;
  height: 50px;
  overflow: hidden;
}

.pointer-tip .catalog__group__box .box__availability {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.pointer-tip .catalog__group__box .box__price {
  position: absolute;
  bottom: 80px;
  left: 20px;
  font-size: 16px;
}

.pointer-tip .catalog__group__box a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: monsemibold;
  font-size: 12px;
  color: #fff;
  background-color: #000;
  padding: 15px 80px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.thx {
  font-family: monlight;
  font-size: 14px;
  color: #7d7d7d;
}

.footer__submit {
  cursor: pointer;
}

.header__element4 {
  position: relative;
}

.header-cart {
  cursor: pointer;
}

.cart-dropdown {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 0px 3px 40px 0 rgba(0, 0, 0, 0.1);
  font-family: monlight;
  /* top: 37px;
  left: -200px; */
  top: 65px;
  right: 200px;
  z-index: 9;
  opacity: 0;
  transform: translateY(10%);
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart-show {
  display: block;
  opacity: 1;
  transform: translateY(0);
  animation: tip-show 1s;
}

.hide {
  display: none;
}

.cart-items {
  margin: 30px 0;
}

.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.cart-control__quanity > * {
  border: 1px solid #000;
}

.cart-control__quanity {
  width: 80px;
  height: 20px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 20px 40px 20px;
  text-align: center;
}

.control__quanity {
  width: 40px;
  border-left: none;
  border-right: none;
  text-align: center;
}

.cart-items-count {
  cursor: pointer;
  /* background: #fe3000; */
  background: #26d43d;
  font-size: 12px;
  /* color: #0a0a0a; */
  color: #fff;
  font-family: monlight;
  position: absolute;
  top: 10px;
  left: 9px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-weight: 600;
  /* text-shadow: 1px 2px 0px #0a0a0a; */
  /* border: 1px solid #000; */
}

.control__plus,
.control__minus {
  cursor: pointer;
}

.cart-control {
  display: grid;
  width: 200px;
  grid-auto-flow: column;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 15px;
  margin: 10px 15px;
  grid-template-rows: auto auto;
}

.cart-img img {
  width: 65px;
}

.cart-total {
  padding: 0 30px;
  margin: 30px 0;
}

.cart-checkout {
  background-color: #0a0a0a;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  padding: 15px 35px;
  display: block;
  text-transform: uppercase;
  margin-top: 30px;
}

.cart-control__title {
  grid-column: 1/3;
  font-size: 12px;
  margin-bottom: 10px;
}

.cart-control__price {
  font-size: 14px;
}

.cart-control__remove:hover {
  color: #000;
}

.cart-control__remove {
  font-size: 36px;
  color: #666;
  cursor: pointer;
}

.cart-total__price {
  float: right;
}

.move-to-cart {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: moveCart 1s;
  z-index: 9;
}

.team .partners__circle {
  padding-bottom: 0;
}

.team {
  padding-bottom: 150px;
}

.catalog .catalog__group .catalog__group__box .box__naming a:hover {
  background: none;
  color: #000;
}

.catalog .catalog__group .catalog__group__box .box__naming a {
  margin: 0;
  padding: 0;
  font-family: monlight;
  font-size: 24px;
  margin-bottom: 15px;
  position: static;
  background: none;
  color: #000;
  text-transform: none;
  left: 0;
  bottom: 0;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
}

.thx-popup {
  width: 500px;
  position: fixed;
  z-index: 10;
  background: #fff;
  padding: 20px;
  box-shadow: 1px 1px 10px #ccc;
  top: 25%;
  left: calc(50% - 250px);
  font-family: monlight;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  cursor: default;
}

.catalog .catalog__group .catalog__group__box .box__naming a {
  font-size: 16px;
}

.catalog .catalog__group .catalog__group__box .box__naming {
  font-size: 20px;
  height: 50px;
  overflow: hidden;
  margin: 5px 30px;
}

.buttons-container a {
  margin: 0;
}

@keyframes moveCart {
  0% {
    transform: scale(0.8) translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: scale(0.6) translate3d(1200px, -1500px, 0) rotate3d(1, 1, 1, 45deg);
  }
}

.umbrella .socialbuttons .sociabuttons__and {
  width: 102px;
}

#catalog-brands .partners__control {
  width: 100%;
  left: 0;
}

#catalog-brands {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 20px;
}

.catalog-brands {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .dropdown-search,
  .dropdown-menu {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 800px) {
  .dropdown-menu__categories,
  .dropdown-menu__links {
    width: 100%;
  }

  .partners__circle {
    width: 90%;
  }

  .main .main__wp img {
    width: 920px;
  }

  .buttons-container {
    text-align: center;
  }
}

@media screen and (max-width: 620px) {
  .dropdown-menu__categories,
  .dropdown-menu__links {
    justify-content: center;
    grid-auto-flow: row;
  }

  .dropdown-menu__header {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .dropdown-menu__header > * {
    margin-bottom: 10px;
    text-align: center;
  }
}

.news .news__flex .news__element p a {
  font-family: monlight;
  font-size: 18px;
  color: #686767;
  margin: 30px 0;
  line-height: 26px;
}

.choose-tab a {
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
}

/* 
.choose .choose__characteristic {
  display: none;
} */
.choose .choose__characteristic,
.choose .choose__pay,
.choose .choose__description,
.choose .choose__guaranty {
  display: grid;
}

.show {
  display: grid !important;
}

.hide {
  display: none !important;
}

.m-w {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  background: #fff;
  padding: 15px;
  font-size: 16px;
  font-family: monlight;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: tip-show 1s;
}

@media (max-width: 767px) and (min-width: 320px) {
  .filters-side-menu {
    position: absolute;
    z-index: 4;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    margin-top: 70px;
  }
}

.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color1,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color2,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color3,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color4,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color5,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color6,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color7,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color8,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color9,
.choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color10 {
  margin-right: 8px;
}

a,
.header__button,
.head__arrow--right,
.head__arrow--left,
.catalogue__relax__href,
.catalogue__dinner__href,
.horeca__href,
.swing__href,
.umbrella__href,
.accessories__href,
.ready__href,
.header-menu-btn,
.search-btn,
.catalog .catalog__group .catalog__group__box a {
  /* display: inline-block; */
  transition: all 0.2s ease;
  /* transform: translateX(0px); */
}

.dropdown-menu__links li a,
.dropdown-menu__categories li a,
.footer li a,
.catalogue__ready li a,
.catalogue__accessories li a,
.catalogue__umbrella li a,
.catalogue__swing li a,
.catalogue__horeca li a,
.catalogue__dinner li a,
.catalogue__relax li a {
  transition: all 0.2s ease;
  display: inline-block;
  transform: translateX(0px);
}

.dropdown-menu__links li a:hover,
.dropdown-menu__categories li a:hover,
.footer li a:hover,
.catalogue__ready li a:hover,
.catalogue__accessories li a:hover,
.catalogue__umbrella li a:hover,
.catalogue__swing li a:hover,
.catalogue__horeca li a:hover,
.catalogue__dinner li a:hover,
.catalogue__relax li a:hover {
  transform: translateX(-5px);
  font-family: monsemibold;
}

.choose .choose__wtd li a {
  color: #000;
}

.choose .choose__wtd li,
.choose__wtd li {
  margin-bottom: -1px;
}

.choose__wtd li a:hover {
  text-decoration: none;
}

.umbrella .inbox:hover,
.contacts .contacts__flex .contacts__city a:hover {
  color: #000;
  background: #fff;
  box-shadow: 1px 1px 10px #ccc;
}

.main div .main__more:hover {
  color: #fff;
  background: #000;
}

.care .care__flex .care__item .care__arrow,
.care .care__flex .care__item .care__bgimg {
  opacity: 0.9;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.care .care__flex .care__item:hover .care__arrow {
  right: 40px;
}

.care .care__flex .care__item:hover .care__bgimg {
  opacity: 1;
}

.choose__wtd li a {
  transition: border-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.choose .choose__wtd {
  border-color: #ccc;
}

.news__flex .news__box:hover,
.arrow_back_with_line span:hover,
.catalog__header .arrow_back_with_line span:hover,
.footer .footer__flex ul li a:hover,
a:hover {
  color: #696969;
  /* text-decoration: underline; */
}

.dropdown-menu__links li a:hover {
  color: #000;
  /* font-weight: 600; */
  /* text-decoration: underline; */
}

.ready__href,
.accessories__href,
.umbrella__href,
.swing__href,
.horeca__href,
.catalogue__relax__href,
.catalogue__dinner__href,
.catalog .page__counter a:hover,
.news__flex .news__box {
  color: #000;
}

.ready__href:hover img,
.accessories__href:hover img,
.umbrella__href:hover img,
.swing__href:hover img,
.horeca__href:hover img,
.catalogue__relax__href:hover img,
.catalogue__dinner__href:hover img {
  margin-left: 50px;
}

.ready__href img,
.accessories__href img,
.umbrella__href img,
.swing__href img,
.horeca__href img,
.catalogue__relax__href img,
.catalogue__dinner__href img {
  margin-left: 25px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.catalog .catalog__group .catalog__group__box a:hover,
.header__button:hover {
  background: #696969;
  color: #fff;
}

.head__arrow--right:hover,
.head__arrow--left:hover,
.header-menu-btn:hover,
.search-btn:hover {
  opacity: 0.5;
}

.anim-left-start,
.anim-right-start {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.anim-left-start {
  transform: translateX(-102%);
}

.anim-right-start {
  transform: translateX(102%);
}

.anim-end {
  transform: translateX(0);
}

.arrow-catalog {
  display: inline-block;
  position: relative;
  font-family: monbold;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  margin-left: 300px;
  height: 80px;
  text-transform: uppercase;
}

.arrow-catalog:hover {
  color: #fff;
}

.arrow-catalog span {
  text-shadow: 1px 1px 10px #000;
  position: absolute;
  top: calc(50% - 8px);
  line-height: 16px;
}

.arrow-catalog:hover img {
  margin-left: 50px;
}

.arrow-catalog:hover .cube {
  width: 50px;
  margin-right: 50px;
}

.catalog-arrow-e {
  position: relative;
  display: inline-block;
  width: 195px;
  height: 80px;
  margin-left: 100px;
}

.catalog-arrow-e img {
  position: absolute;
  top: calc(50% - 7px);
  z-index: 2;
  /* right: 75px; */
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cube {
  position: absolute;
  width: 100px;
  height: 80px;
  background: #fff;
  right: 0;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.catalog .catalog__group .catalog__group__box {
  transition: all 0.1s ease-in;
}

.catalog .catalog__group .catalog__group__box:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.cart-icon-circle {
  stroke: #fff;
}

.cart-icon {
  width: 22px;
  height: 22px;
  fill: #fff;
}

.black .cart-icon-circle,
.black .logo-color-stroke {
  stroke: #000;
}

.black .header__element1,
.black .header__contacts {
  color: #000;
}

.black .cart-icon,
.black .region-arrow,
.black .logo-color,
.black .search-btn {
  fill: #000;
}

.header__element1 {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.region-arrow {
  margin-left: 5px;
  fill: #fff;
  width: 10px;
  height: 10px;
}

.search-btn {
  width: 18px;
  height: 18px;
}

.header-logo {
  width: 160px;
  height: 40px;
}

.logo-color-stroke {
  stroke: #fff;
}

.logo-color,
.search-btn {
  fill: #fff;
}

.header-menu-btn {
  background: url(../img/menu_white.png) no-repeat 50% 50%;
  width: 19px;
  height: 19px;
}

.black .header-menu-btn {
  background: url(../img/menu_black.png) no-repeat 50% 50%;
}

.region-select-dropdown {
  position: absolute;
  top: 20px;
  left: 0;
  padding: 10px 20px;
  margin: 0;
  background: #f8f7f7;
  box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.1);
  z-index: 9;
}

.region-select-dropdown li:hover {
  color: #696969;
}

.region-select-dropdown li:last-child {
  margin: 0;
}

.region-select-dropdown li {
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px;
}

@keyframes smoothShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bread ul li a {
  transition: 1s ease;
}
.bread ul li a:hover {
  /* color: #000; */
  font-family: monbold;
}

.catalog .catalog__group .catalog__group__box a.product-link {
  display: block;
  width: 310px;
  height: 210px;
  margin: 0 auto;
  padding: 0;
  position: static;
  /* left: 0; */
  /* right: 0; */
  background: #fff;
}

.brand-item img {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.brand-item {
  overflow: hidden;
}

.head__3d:hover,
.head .head__order:hover,
.main .brand-item.main__wp .wp__text a:hover {
  color: #fff;
  background: #000;
}

.brand-item:hover img {
  transform: scale(1.01);
}

.main .main__wp .wp__text a {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.buy .buy__products .products__form form a:hover {
  text-decoration: none;
}

.buy .buy__products .products__form form a:hover,
.main .main__wp .wp__text a:hover {
  background: #efefef;
  color: #0a0a0a;
}

.smoothShow {
  animation: smoothShow 2s ease;
}

.mobile-footer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 10;
}

.mobile-footer li {
  width: 35px;
  cursor: pointer;
}

.mobile-footer ul {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  height: 50px;
  padding: 12px;
  margin: 0;
  background: #f8f7f7;
  box-sizing: content-box;
}

.input-range__value div {
  position: absolute;
  text-align: center;
  width: 24px;
}

.input-range__value {
  position: absolute;
  width: 100%;
}

.input-range {
  position: relative;
}

.input-range input {
  width: 50% !important;
}

.intrend .intrend__flex a {
  margin: 25px 8px;
  display: inline-block;
}

.intrend .intrend__flex img {
  padding: 0;
}

.crsl__left,
.crsl__right {
  cursor: pointer;
  opacity: 0.8;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.crsl__left:hover,
.crsl__right:hover {
  opacity: 1;
}

.inner-block {
  position: relative;
}

.crsl__main img {
  display: inline-block;
  position: absolute;
}

.crsl__main {
  overflow: hidden;
  width: 700px;
  height: 355px;
}

.slider-prev img:hover,
.slider-ctrl img:hover {
  opacity: 1;
}

.slider-prev img,
.slider-ctrl img {
  cursor: pointer;
  opacity: 0.9;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slider-prev img {
  width: 170px;
  position: relative;
}

.slider-ctrl {
  position: absolute;
  bottom: -10px;
  width: 98%;
  left: 1%;
}

.ctrl-next {
  float: right;
}

.slider-prev {
  position: absolute;
  width: 90%;
  bottom: -50px;
  left: 5%;
  height: 110px;
  overflow: hidden;
  z-index: 2;
}

.inner-block {
  right: 0;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.color-schema:hover img {
  display: block;
}

.color-schema:hover {
  /* opacity: 1; */
}

.color-schema.active {
  /* border: 1px solid #000; */
  border-radius: 50%;
}

.color-schema {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  /* opacity: 0.8; */
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.color-schema img {
  display: none;
  position: absolute;
  z-index: 3;
  bottom: 35px;
  left: -138px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 1px 1px 10px #ccc;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.page__counter {
  height: 30px;
  position: relative;
  padding: 0;
}

.page__counter li:nth-child(1) {
  left: 0px;
  animation: page-counter infinite 1s ease-in-out 1s;
}

.page__counter li:nth-child(2) {
  left: calc(50% - 3px);
  animation: page-counter infinite 1s ease-in-out 0.5s;
}

.page__counter li:nth-child(3) {
  right: 0px;
  animation: page-counter infinite 1s ease-in-out 1s;
}

.page__counter li {
  width: 6px;
  height: 6px;
  background: #000;
  position: absolute;
  padding: 0;
  top: calc(50% - 3px);
}

.catalogue__balcony .balcony__gr1 h3 a,
.catalogue__balcony .balcony__gr2 h3 a,
.catalogue__sale .sale__gr2 h3 a,
.catalogue__sale .sale__gr1 h3 a {
  position: static;
  color: #fff;
}

.arrow-move {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.balcony__gr1:hover .arrow-move,
.balcony__gr2:hover .arrow-move,
.sale__gr2:hover .arrow-move,
.sale__gr1:hover .arrow-move {
  right: 30px;
}

@keyframes page-counter {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.catalog .catalog__sort p span:hover {
  color: #777;
}

.catalog .catalog__sort p {
  position: relative;
}

.catalog .catalog__sort p span {
  padding-left: 15px;
  font-family: monsemibold;
  font-size: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sort-dropdown li:hover {
  font-weight: 600;
  cursor: pointer;
}

.sort-dropdown li {
  font-size: 12px;
  color: #000;
}

.filter-block span {
  padding-left: 15px;
  font-family: monsemibold;
  font-size: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-block img {
  padding-left: 10px;
  cursor: pointer;
}

.filter-block {
  position: relative;
  text-align: right;
  margin: 0;
  margin-right: 30px;
  font-family: monsemibold;
  font-size: 10px;
  color: #8b8b8b;
  margin-bottom: 35px;
}

.sort-dropdown {
  text-align: left;
  display: none;
  position: absolute;
  background: #fff;
  padding: 5px 15px;
  box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, 0.2);
  /* bottom: 115px; */
  /* right: 60px; */
  right: 1px;
  z-index: 3;
}

.other-category h2 {
  font-family: monreg;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}

.other-category li {
  height: 50px;
}

.not-found-block {
  display: grid;
  grid-auto-flow: column;
}

.other-category li a:hover {
  color: #fff;
  background: #000;
}

.other-category li a {
  display: block;
  text-transform: uppercase;
  font-family: monbold;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  padding: 16px 30px;
  background-color: #fff;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.other-category {
  margin-top: 130px;
  width: 50%;
  float: right;
}

.other-category ul {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
}

.div-a {
  cursor: pointer;
}

.news__flex .news__box:hover p {
  font-weight: 600;
}

@media (max-width: 1278px) and (min-width: 767px) {
  .catalog .catalog__group .catalog__group__box a.product-link {
    width: auto;
    height: auto;
  }
}

.tabs-shadow {
  display: none;
}

@media (max-width: 767px) and (min-width: 320px) {
  .header__element1 {
    display: none;
  }

  .tabs-shadow {
    position: absolute;
    width: 64px;
    height: 32px;
    display: block;
    top: 0;
    right: 0;
    background: -moz-linear-gradient(left, rgba(248, 247, 247, 0) 0%, rgba(248, 247, 247, 1) 50%, rgba(248, 247, 247, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(248, 247, 247, 0) 0%, rgba(248, 247, 247, 1) 50%, rgba(248, 247, 247, 1) 100%);
    background: linear-gradient(to right, rgba(248, 247, 247, 0) 0%, rgba(248, 247, 247, 1) 50%, rgba(248, 247, 247, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f8f7f7', endColorstr='#f8f7f7', GradientType=1);
  }

  .choose__wtd__container {
    position: relative;
  }

  .scroll-tabs {
    overflow: scroll;
    /* position: relative; */
  }

  .catalog .catalog__group .catalog__group__box a.product-link {
    width: auto;
    height: auto;
  }

  .arrow-catalog {
    margin-left: 20px;
  }

  .mobile-footer {
    display: block;
  }

  .intrend .intrend__flex img {
    width: auto;
  }

  .catalog-brands {
    overflow: hidden;
  }

  /* .intrend .intrend__flex a {
    width: 30%;
    margin: 20px 1%;
  } */

  .choose .choose__characteristic,
  .choose .choose__pay,
  .choose .choose__description,
  .choose .choose__guaranty {
    display: block;
  }

  .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color1,
  .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color2,
  .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color3,
  .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color4,
  .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color5,
  .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color6,
  .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color7,
  .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color8,
  .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color9,
  .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color10 {
    margin-right: 5px;
  }
}

.footer .footer__logos .footer__opex {
  width: 65px;
  height: 25px;
}

@media (max-width: 414px) {
  .catalogue__umbrella .umbrella__image,
  .catalogue__swing .swing__image,
  .catalogue__horeca .horeca__image,
  .catalogue__accessories .accessories__image,
  .catalogue__ready .ready__image {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .catalogue__horeca .horeca__image,
  .catalogue__umbrella .umbrella__image,
  .catalogue__ready .ready__image {
    margin-top: 20px;
  }
  .remove__all__768 span a img {
    margin-left: 5px;
    width: 8px;
  }

  .remove__all__768 span {
    margin-right: 10px;
  }

  .remove__all__768 span a {
    font-family: monsemibold;
  }

  .remove__all__768 .remove__all__768__span1 {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .filter-block {
    bottom: -40px;
    margin-bottom: 0;
  }

  .cart-dropdown {
    right: 0;
    width: 100%;
  }

  .umbrella .socialbuttons .sociabuttons__download {
    margin-right: 5px;
  }

  .umbrella .socialbuttons .sociabuttons__and {
    width: 95px;
    margin-right: 0px;
  }

  .choose .choose__pay ul {
    width: 100%;
  }

  .choose .choose__wtd li:last-child {
    margin-right: 50px;
  }
}

.only-sm {
  display: none;
}

@media (max-width: 375px) {
  .only-sm {
    display: block;
  }

  .only-lg {
    display: none;
  }

  .slider-prev {
    bottom: -300px;
  }

  .slider-ctrl {
    bottom: -260px;
    z-index: 5;
  }

  .umbrella .umbrella__about {
    margin-top: 315px;
  }

  .umbrella .umbrella__about .umbrella__discount {
    top: -315px;
  }
}

@media (max-width: 1024px) {
  .pointer__key {
    display: none;
  }
}

@media (max-width: 1280px) {
  .head h3 {
    margin: 0;
  }

  .head .head__3d {
    margin: 10px 0;
  }

  .not-found-block {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    text-align: center;
  }

  .other-category {
    margin-top: 20px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
