.on-load.header__naming h2,
.on-load.header__naming p {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.header__naming {
    overflow: hidden;
}

.header__naming h2,
.header__naming p {
    -webkit-transform: translateX(-130%);
    -ms-transform: translateX(-130%);
    transform: translateX(-130%);
    -webkit-transition: -webkit-transform .8s cubic-bezier(.215, .61, .355, 1);
    transition: -webkit-transform .8s cubic-bezier(.215, .61, .355, 1);
    transition: transform .8s cubic-bezier(.215, .61, .355, 1);
    transition: transform .8s cubic-bezier(.215, .61, .355, 1), -webkit-transform .8s cubic-bezier(.215, .61, .355, 1);
}

.header__naming h2:nth-child(1) {
    -webkit-transition-delay: .78s;
    transition-delay: .78s;
}

.header__naming h2:nth-child(2) {
    -webkit-transition-delay: .86s;
    transition-delay: .86s;
}

.header__naming p {
    -webkit-transition-delay: .94s;
    transition-delay: .94s;
}

.head__arrow--left,
.head__arrow--right {
    cursor: pointer;
}

.head__arrow--left {
    margin-right: 70px;
}

.dropdown-menu {
    position: absolute;
    top: 0;
    left: 0;
    background: #f8f7f7;
    box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-bottom: 75px;
    transform: translateY(-100%);
    transition: transform .8s cubic-bezier(.215, .61, .355, 1);
}

.show-header-dropdown {
    transform: translateY(0);
}

.dropdown-menu__close {
    position: absolute;
    top: 19px;
    right: 30px;
    font-size: 36px;
    cursor: pointer;
}

.dropdown-menu__city {
    margin: 0 50px;
}

.dropdown-menu__header {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    font-size: 12px;
    font-family: monreg;
}

.dropdown-menu__phone a {
    color: #000;
}

.dropdown-menu__logo img {
    width: 150px;
}

.dropdown-menu__categories,
.dropdown-menu__links {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    grid-gap: 30px;
    width: 920px;
    margin: 0 auto;
    padding: 0;
}

.dropdown-menu__categories li,
.dropdown-menu__links li {
    width: 190px;
}

.dropdown-menu__links li a {
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    font-family: monlight;
    letter-spacing: 0.7px;
}

.dropdown-menu__links {
    margin-top: 50px;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

.dropdown-menu__categories li a {
    letter-spacing: 0.7px;
    text-align: left;
    color: #000;
    font-family: monsemibold;
    font-size: 14px;
    font-weight: 600;
}

.head,
.head__count,
.head__chairimg {
    transition: all .8s cubic-bezier(.215, .61, .355, 1);
}

.head__chairimg {
    cursor: pointer;
}

@keyframes zoomBg {
    0% {
        background-size: 105%;
    }

    100% {
        background-size: 100%;
    }
}

.head {
    animation: zoomBg 10s;
    transition: background .5s cubic-bezier(0.4, 0, 1, 1);
    background-size: 100%;
}

.partners__circle {
    position: relative;
    width: 1200px;
    margin: 50px auto;
    overflow: hidden;
    display: block;
}

.partners__control {
    position: absolute;
    top: calc(50% - 10px);
    width: 100%;
    z-index: 2;
}

.partners-ctrl-left,
.partners-ctrl-right {
    cursor: pointer;
}

.partners-ctrl-right {
    float: right;
}

.partners__circle .circle__flex {
    grid-column-start: 2;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    transition: all .87s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.circle__flex a {
    text-align: center;
    width: 170px;
    margin: 0 15px;
    z-index: 3;
}